.moviesCardList {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  background-color: #202020;
}

.moviesCardList__box {
  width: 300px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .moviesCardList__box {
    width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .moviesCardList__box {
    width: 1140px;
    align-items: baseline;
  }
}

.moviesCardList__element {
  width: 320px;
  position: relative;
  display: grid;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .moviesCardList__element {
    width: 768px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .moviesCardList__element {
    width: 1140px;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 32px;
  }
}

.moviesCardList__box-button {
  width: 300px;
  height: 26px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #2F2F2F;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  margin-top: 80px;
}

.moviesCardList__box-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .moviesCardList__box-button {
    width: 708px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .moviesCardList__box-button {
    display: none;
  }
}